{{#each notes as |note|}}
  {{log note}}
  <section data-id="{{note.id}}">
    <h6>Title:</h6>
    <h3>
      {{limit note.title 15}}
    </h2>
    <h6>Content:</h6>
    <p>
      {{#if note.content}}
        {{note.content}}
      {{else}}
        No content included.
      {{/if}}
    </p>
    <button data-id="{{note.id}}" class="btn btn-danger update-note">Update Note</button>
    <button data-id="{{note.id}}" class="btn btn-danger remove-note">Delete Note</button>
  </section>

{{/each}}
